.container {
  margin: auto;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: left;
}

.ProjectContainer {
  padding-bottom: 5em;
}


.container p {
  width: 95%;
  margin: 20px auto;
  text-align: left;
}

@media screen and (max-width: 880px) {
  .container {
    justify-content: center;
  }
}

@media screen and (max-width: 475px) {
  .container {
    margin: 0;
    padding: 0;
   justify-content: left;
  }
}

