.Project {
  position: relative;
  margin: 3.5em 3em;
  height: 420px;
  width: 350px;

}

.Project p {
  width: 90%;
}

.Project h3 {
  text-align: center;
  color: #DE9E36;
}

.projectHeadline {
  font-size: 2em;
  margin: 0 auto;
  padding-bottom: 0;
  width: 90%;
}

.Project button {
  width: 90%;
}

.front, 
.back {
  padding: 1.6em;
  height: 100%;
  width: 100%;
  transition: 1s ease;

}

.Project img  {
  width: 400px;
  height: 425px;
  vertical-align: top;
  z-index: 2;
}

.front {
  z-index: 1;
}

.front img {
  padding: 0;
  margin: 0;
  width: 350px;
  height: 425px;

}

.back p {
  width: 80%;
  padding-top: 1em;
  min-height: 200px;
}


.back {
  background-color: #6D6A75;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.front:hover {
  opacity: 0;
}

.front .title {
  position: absolute;
  top: 105px;
  left: 85px;
  font-size: 3em;
  width: 80%;
}

.project_button {
  background-color: black;
  font-size: 1em;
  padding-top: 3em;
  color: white;
  text-decoration: none;
  background-color: none;
  font-size: 1.3em;
  padding: 0.3em;
  width: 20%;
  height: 30px;
  border: 2px solid black;
}

.project_button:hover {
  color: #fff;
  background-color: black;
}
    