.container {
  padding: 2em;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: left;
}

.Portfolio h2 {
  padding-top: 1em;
}

.front {
  background-image: url();
}

.container p {
  width: 95%;
  margin: 20px auto;
  text-align: left;
}

button {
  width: 95%;
}