.footer_image {
  padding: 0;
  height: 250px;
  background: linear-gradient(
                    rgba(212, 212, 212, 0.2),
                    rgba(194, 192, 192, 0.5)),
                    url('../../assest/foot-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}