.Intro {
  background-color: #EDEEEF;
  padding: 3em;
}

h3 {
  width: 65%;
  margin: 1.5em auto;
  text-align: left;
}

.about_me_button {
  padding-top: 3em;
  color: black;
  text-decoration: none;
  background-color: none;
  font-size: 1.3em;
  padding: 0.3em;
  width: 20%;
  height: 30px;
  border: 2px solid black;
}

.about_me_button:hover {
  color: #fff;
  background-color: black;

}

@media screen and (max-width: 950px) {
  h3 {
    margin: 1em auto;
    width: 90%;
  }
}

@media screen and (max-width: 680px) {
  h3 {
    width: 95%;
    font-size: 1em;
    margin: 1.3em auto;
  }
}



