footer {
  background-color: #232028;
  height: 10em;
  margin: 0;
}

footer ul {
  font-size: 1em;
  color: #DE9E36;
  text-align: center;
}

footer li {
  display: inline-block;
}

footer h2 {
  color: #DEB841;
}

footer a {
  margin: 2em;
  font-size: 1.3em;
  color: #DE9E36;
  text-decoration: none;
}

footer a:hover {
  color: #DEB841;
}