.NavBar {
  margin: 0;
}

ul {
  list-style-type: none;
  text-align: right;
}

.nav_link {
  color: black;
  text-decoration: none;
  text-align: left;
  display: inline-block;
  margin: 7px 12px;
}

@media screen and (max-width: 440px) {
  .NavBar ul{
    font-size: 1em;
  }
}

